*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

                    /* Animaciones */

@keyframes slideOutLeft {
    0% {
        left: 30%;
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }

}

@keyframes slideInLeft {
    0% {
        left: 100%;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        left: 30%;
        opacity: 1;
    }

}

                    /* Global variables */
:root {
    --colorTextWhite: #f1f1f1;
    --fontFamily1: 'Poppins', sans-serif;
    --fontFamily2: 'Rubik', sans-serif;
    --fontSizeXS: 1.5rem;
    --fontSizeS: 1.8rem;
    --fontSizeM: 2rem;
    --fontSizeL: 2.5rem;
    --fontSizeXL: 3rem;
    --timingFunction: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

            /* Dark mode variables */
.body.dark {
    --color1: #BC8CF2;
    --color2: #8758FF;
    --color3: #6F38C5;
    --color4: #191825;
    --colorBg: #121212;
    --colorBgHeader: #1F1F1F;
    --colorBgMenu: #151515;
    --colorBgFooter: #1a1a1a;
    --colorShadow1: #00000025;
    --colorShadow2: #000;
    --colorText1: #f1f1f1;
    --colorText2: #ccc;
    --colorText3: #5f5f5f;
}

            /* Light mode variables */
.body.light {
    --color1: #DFF6FF;
    --color2: #47B5FF;
    --color3: #1c5fc3;
    --color4: #003f66;
    --colorBg: #f3f3f3;
    --colorBgHeader: #191919;
    --colorBgMenu: #131313;
    --colorBgFooter: #1f1f1f;
    --colorShadow1: #00000050;
    --colorShadow2: #000;
    --colorText1: #0f0f0f;
    --colorText2: #2e2e2e;
    --colorText3: #5e5e5e;
}

body {
    color: var(--colorText1);
    background-color: var(--colorBg);
}

                    /* Global classes */

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-d-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}


                    /* HEADER */

#header {
    width: 100%;
    height: 9rem;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    transition: background-color .25s, box-shadow .25s;
    transition-timing-function: var(--timingFunction);
}

.header-scroll {
    background-color: var(--colorBgHeader);
    box-shadow: 0 .5rem .5rem 0 var(--colorShadow1);
}

        /* THEME MODE */

.header_theme {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    background-color: #5f5f5f15;
}

.theme_img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    transform: rotate(180deg);
    filter: grayscale(1);
    transition: filter .5s var(--timingFunction);
}

.light .theme_img {
    filter: grayscale(0);
}

.theme_text {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: var(--colorTextWhite);
}

            /* NAVBAR */

#navbar {
    flex-grow: 1;
    padding: 0 1rem;
}

.nav_space {
    flex-grow: 1;
}

    /* NAVBAR - Logo */

.nav_logo {
    width: 10rem;
    height: 100%;
    transition: transform .5s var(--timingFunction);
}

.nav_logo:hover {
    transform: translateX(1rem);
}

.logo_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(-2px 2px 2px #000);
}

.header-scroll .logo_img {
    filter: none;
}

    /* NAVBAR - Button Menu */

#btn-menu {
    all: unset;
    position: relative;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--colorText3);
    display: grid;
    place-items: center;
}

.btn_bars,
.btn_bars::before,
.btn_bars::after {
    display: block;
    position: absolute;
    width: 2rem;
    height: 2px;
    background-color: var(--colorTextWhite);
    transition-duration: .25s;
}

.btn_bars::before {
    content: '';
    top: -6px;
}

.btn_bars::after {
    content: '';
    top: 6px;
}

#btn-menu.active .btn_bars {
    transform: rotate(45deg);
}

#btn-menu.active .btn_bars::before {
    top: 0;
    transform: rotate(0deg);
}

#btn-menu.active .btn_bars::after {
    top: 0;
    transform: rotate(90deg);
}

    /* NAVBAR - Menu */

.nav_ul-mobile {
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 9rem;
    left: 100%;
    z-index: 500;
    color: var(--colorTextWhite);
    font-family: var(--fontFamily2);
    background-color: var(--colorBgMenu);
}

.nav_ul-mobile.menu-not-visible {
    animation: slideOutLeft .75s var(--timingFunction);
}

.nav_ul-mobile.menu-visible {
    left: 30%;
    animation: slideInLeft .5s var(--timingFunction);
}

.ul-mobile__link {
    width: 100%;
    display: inline-block;
    padding: 3rem 5rem;
    font-size: var(--fontSizeM);
    border-bottom: 2px solid #5f5f5f30;
    transition: letter-spacing .25s var(--timingFunction);
}

.ul-mobile__link:hover {
    background-color: #5f5f5f15;
    letter-spacing: 1.5px;
}

.light .ul-mobile__link:hover {
    background-color: #5f5f5f30;
}

.link_icon {
    color: var(--colorText3);
    vertical-align: text-top;
    margin-right: .5rem;
    transition: color .25s var(--timingFunction);
}

.ul-mobile__link:hover .link_icon {
    color: var(--colorTextWhite);
}

    /* NAVBAR - Language button and menu */

#btn-language {
    width: 100%;
    padding: 3rem 5rem;
    font-size: var(--fontSizeM);
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: letter-spacing .25s var(--timingFunction);
}

#btn-language.active,
#btn-language:hover {
    background-color: #5f5f5f15;
    letter-spacing: 1.5px;
}

.light #btn-language.active,
.light #btn-language:hover {
    background-color: #5f5f5f30;
}

#btn-language .link_icon {
    margin-right: 1rem;
    vertical-align: text-top;
}

.lang_arrow {
    color: var(--colorText3);
    vertical-align: middle;
    position: absolute;
    right: 5.5rem;
    transition: color .25s, transform .25s;
    transition-timing-function: var(--timingFunction);
}

#btn-language:hover .link_icon,
#btn-language:hover .lang_arrow {
    color: var(--colorTextWhite);
}

#btn-language.active .link_icon {
    color: var(--colorTextWhite);
}

#btn-language.active .lang_arrow {
    color: var(--colorTextWhite);
    transform: rotate(-180deg);
}

.ul-mobile_li:last-of-type {
    border-bottom: 2px solid #5f5f5f30;
}

.language_ul {
    width: 100%;
    height: 0;
    overflow-y: hidden;
}

.language_ul.visible {
    height: fit-content;
}

.language__li-link {
    width: 100%;
    display: inline-block;
    padding: 2rem 0;
    padding-left: 10rem;
    font-size: var(--fontSizeS);
    cursor: pointer;
    transition: letter-spacing .25s var(--timingFunction);
}

.language__li-link:hover {
    background-color: #5f5f5f15;
    letter-spacing: 1.5px;
}

.light .language__li-link:hover {
    background-color: #5f5f5f30;
}




                    /* MAIN */
        
.section {
    width: 85%;
    padding: 10rem 0;
}

.section_h2 {
    font-size: var(--fontSizeXL);
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 5rem;
}

.light .section_h2 {
    font-weight: 400;
    letter-spacing: .5px;
}

.section_h2 span {
    margin-left: .5rem;
    font-weight: 400;
    color: var(--color3);
}

.light .section_h2 span {
    font-weight: 900;
}

.section_text {row-gap: 1.5rem;}

.text_p {
    color: var(--colorText3);
    font-size: var(--fontSizeS);
    font-weight: 400;
    text-align: center;
}

.light .text_p {
    font-weight: 300;
    color: var(--colorText1);
}

.bold {
    color: var(--colorText2);
    font-weight: 400;
}

            /* HOME */

#home {
    width: 100%;
    height: 100vh;
    background-image: url(assets/homeBgMobile.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-items: center;
}

.home_container {
    text-align: center;
    width: fit-content;
    letter-spacing: 1px;
    text-shadow: -2px 2px 3px var(--colorShadow2);
}

.home__h1 {
    color: var(--colorTextWhite);
    font-size: 4rem;
}

.home__h3 {
    color: var(--colorText2);
    font-family: var(--fontFamily2);
    font-weight: 300;
    font-size: var(--fontSizeL);
}

.light .home__h3 {
    color: var(--colorTextWhite);
}


            /* About */

.about_info {
    flex-basis: 100%;
}

.about_skills {
    flex-basis: 100%;
}

.skills_h4 {
    text-align: center;
    font-size: var(--fontSizeM);
    font-weight: 300;
    margin: 10rem 0 3rem;
}

.light .skills_h4 {
    font-weight: 400;
}

.skills_container {gap: 2rem;}

.skills__skill {
    flex-basis: 15rem;
    height: 15rem;
    row-gap: 1rem;
    background-color: #5f5f5f15;
}

.skills__skill:hover {
    background-color: #5f5f5f30;
}

.skill_img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

.skill_h6 {
    font-family: var(--fontFamily2);
    font-weight: 900;
    font-size: var(--fontSizeS);
    color: var(--colorText2);
}


            /* Services */

.services_container {gap: 4rem;}

.services__service {
    flex-basis: 100%;
    column-gap: 2rem;
    padding: 2rem 1rem;
}

.service_img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

.service_text {row-gap: 1.5rem;}

.service__h5 {
    font-family: var(--fontFamily2);
    font-size: var(--fontSizeM);
    letter-spacing: 1px;
}

.light .service__h5 {
    font-family: var(--fontFamily1);
    letter-spacing: 0;
}

.service__p {
    font-size: var(--fontSizeXS);
    font-weight: 400;
    color: var(--colorText3);
}

.light .service__p {
    font-weight: 300;
    color: var(--colorText1);
}

.services__service:nth-of-type(2) .service_img,
.services__service:nth-of-type(4) .service_img {order: 10;}

.services__service:nth-of-type(1) .service_text,
.services__service:nth-of-type(3) .service_text,
.services__service:nth-of-type(5) .service_text {text-align: right;}


            /* Projects */

.projects_container {gap: 5rem;}

.projects__card {flex-basis: 100%;}

.card_img {
    order: 10;
    width: 16rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: .5rem .5rem .75rem 0 var(--colorShadow2);
    filter: brightness(.75);
}

.light .card_img {
    box-shadow: .5rem .5rem .75rem 0 var(--colorShadow1);
    filter: brightness(1);
}

.card_text {
    flex-grow: 1;
    position: relative;
    row-gap: 1.5rem;
    padding: 3rem 1.5rem 3rem 0;
}

.card__h4 {
    font-size: var(--fontSizeM);
    font-family: var(--fontFamily2);
    letter-spacing: 1px;
}

.light .card__h4 {
    font-family: var(--fontFamily1);
    letter-spacing: 0;
}

.card__langs {column-gap: 1.5rem;}

.card__langs-i {
    font-size: var(--fontSizeXL);
    color: var(--colorText2);
    transition: color .25s var(--timingFunction);
}

.card__langs-i[class *= "html"]:hover {color: #EF642A;}

.card__langs-i[class *= "css"]:hover {color: #2466F1;}

.card__langs-i[class *= "js"]:hover {color: #F7E119;}

.card__p {
    font-size: var(--fontSizeXS);
    color: var(--colorText3);
}

.light .card__p {
    color: var(--colorText1);
    font-weight: 300;
}

.card__space {
    flex-grow: 1;
}

.card__links {
    width: fit-content;
    row-gap: 1.5rem;
}

.card__links-code,
.card__links-web {
    width: fit-content;
    position: relative;
    padding: .5rem 1rem;
    font-size: var(--fontSizeXS);
}

.card__links-code {
    transition: transform 1s var(--timingFunction);
}

.card__links-code:hover,
.card__links-web:hover {
    transform: translateX(2rem);
}

.card__links-code span,
.card__links-web span {
    position: relative;
    z-index: 10;
}

.card__links-code svg {
    margin-left: .5rem;
    position: relative;
    z-index: 10;
}

.card__links-code::before,
.card__links-code::after {
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.card__links-code::before {
    width: 2px;
    background-color: var(--color2);
}

.card__links-code::after {
    width: 0;
    z-index: 0;
    opacity: .6;
    background-color: var(--color1);
    transition: width .5s var(--timingFunction);
}

.card__links-code:hover::after {
    width: 100%;
}

.card__links-web {
    font-size: var(--fontSizeS);
    border: 1px solid var(--color2);
    background-color: var(--color1);
    color: var(--color4);
    transition: background .25s, transform .5s;
    transition-timing-function: var(--timingFunction);
}

.card__links-web:hover {
    outline-color: var(--color3);
    background-color: var(--color2);
}


            /* CONTACT */

.section_h3 {
    text-align: center;
    font-size: var(--fontSizeM);
    font-weight: 300;
    margin-bottom: 2rem;
}

.light .section_h3 {
    font-weight: 400;
}

.contact_container {
    width: 65%;
    margin: 0 auto;
    padding: 2rem;
    gap: 3rem;
}

.contact__link {
    flex-basis: 100%;
    height: 20rem;
    position: relative;
    row-gap: 2rem;
    background-color: #5f5f5f30;
    transition: transform .5s var(--timingFunction);
}

.contact__link:hover {
    transform: scale(.9);
}

.contact__link::before {
    content: '';
    width: 100%;
    height: 0;
    background: linear-gradient(to top, #5f5f5f50, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    transition: height .5s var(--timingFunction);
}

.light .contact__link::before {
    background: linear-gradient(to top, #5f5f5f30, transparent);
}

.contact__link:hover::before {
    height: 100%;
}

.contact__link-img {
    position: relative;
    z-index: 10;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.contact__link-h6 {
    position: relative;
    z-index: 10;
    letter-spacing: 1px;
    font-family: var(--fontFamily2);
    font-size: var(--fontSizeL);
}




                    /* FOOTER */

#footer {
    width: 100%;
    padding: 3rem 0;
    background-color: var(--colorBgFooter);
    display: grid;
    place-items: center;
}

.footer__text {
    text-align: center;
    font-size: var(--fontSizeXS);
    color: var(--colorTextWhite);
    font-weight: 300;
}

.footer__text-link {
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    transition: color .25s, transform .5s;
    transition-timing-function: var(--timingFunction);
}

.light .footer__text-link {
    color: var(--colorText3);
}

.footer__text-link:hover {
    color: var(--color1);
    transform: translateY(-5px);
}

.light .footer__text-link:hover {
    color: var(--color2);
}




                    /* MEDIA QUERIES */

            /* For Mobile */

@media screen and (height <= 650px) {
        /* NAVBAR - Menu */

    .ul-mobile__link {
        padding: 2rem 5rem;
    }

        /* NAVBAR - Language button and menu */

    #btn-language {
        padding: 2rem 5rem;
    }

    .language__li-link {
        padding: 1.5rem 0;
        padding-left: 10rem;
    }
}

@media screen and (width <= 340px) {
        /* PROJECTS */

    .projects_container {gap: 5rem;}

    .projects__card {flex-basis: 100%;}
    
    .card_img {
        order: 0;
        width: 16rem;
        height: 35rem;
        object-fit: cover;
        border-radius: 2rem;
        box-shadow: .5rem .5rem .75rem 0 var(--colorShadow2);
        filter: brightness(.75);
    }
    
    .light .card_img {
        box-shadow: .5rem .5rem .75rem 0 var(--colorShadow1);
        filter: brightness(1);
    }
    
    .card_text {
        flex-grow: 1;
        position: relative;
        row-gap: 1.5rem;
        padding: 3rem 1.5rem 3rem 0;
    }
    
    .card__h4 {
        font-size: var(--fontSizeM);
        font-family: var(--fontFamily2);
        letter-spacing: 1px;
    }
    
    .light .card__h4 {
        font-family: var(--fontFamily1);
        letter-spacing: 0;
    }
    
    .card__langs {column-gap: 1.5rem;}
    
    .card__langs-i {
        font-size: var(--fontSizeXL);
        color: var(--colorText2);
        transition: color .25s var(--timingFunction);
    }
    
    .card__langs-i[class *= "html"]:hover {color: #EF642A;}
    
    .card__langs-i[class *= "css"]:hover {color: #2466F1;}
    
    .card__langs-i[class *= "js"]:hover {color: #F7E119;}
    
    .card__p {
        font-size: var(--fontSizeXS);
        color: var(--colorText3);
    }
    
    .light .card__p {
        color: var(--colorText1);
        font-weight: 300;
    }
    
    .card__space {
        flex-grow: 1;
    }
    
    .card__links {
        width: fit-content;
        row-gap: 1.5rem;
    }
    
    .card__links-code,
    .card__links-web {
        width: fit-content;
        position: relative;
        padding: .5rem 1rem;
        font-size: var(--fontSizeXS);
    }
    
    .card__links-code {
        transition: transform 1s var(--timingFunction);
    }
    
    .card__links-code:hover,
    .card__links-web:hover {
        transform: translateX(2rem);
    }
    
    .card__links-code span,
    .card__links-web span {
        position: relative;
        z-index: 10;
    }
    
    .card__links-code svg {
        margin-left: .5rem;
        position: relative;
        z-index: 10;
    }
    
    .card__links-code::before,
    .card__links-code::after {
        content: '';
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    .card__links-code::before {
        width: 2px;
        background-color: var(--color2);
    }
    
    .card__links-code::after {
        width: 0;
        z-index: 0;
        opacity: .6;
        background-color: var(--color1);
        transition: width .5s var(--timingFunction);
    }
    
    .card__links-code:hover::after {
        width: 100%;
    }
    
    .card__links-web {
        font-size: var(--fontSizeS);
        border: 1px solid var(--color2);
        background-color: var(--color1);
        color: var(--color4);
        transition: background .25s, transform .5s;
        transition-timing-function: var(--timingFunction);
    }
    
    .card__links-web:hover {
        outline-color: var(--color3);
        background-color: var(--color2);
    }
}

            /* For Tablet */

@media screen and (width >= 768px) {
    html {
        font-size: 9px;
    }
}

            /* For Desktop */

@media screen and (width >= 1024px) {
    html {
        font-size: 10px;
    }
}